body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.email-container {
  position: relative;
  width: 371px;
}
 
.email-container input {
  font-size: 15px;
}

.pwd-container {
  position: relative;
  width: 371px;
}
 
.pwd-container input {
  font-size: 15px;
}
 
.pwd-container img {
  cursor: pointer;
  position: absolute;
  
  width: 20px;
  right: 80px;
  top: 5px;
}

.login-home {
  max-height: 100vh;
}

.pwd-container-login img {
  cursor: pointer;
  position: absolute;
  
  width: 20px;
  right: 449px;
  top: 203px;
}


.logo{
  position: relative;
  display: inline-block;
  width: 100vw;
  margin-left: 40px;
}
.fit-logo {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 10px; 
  height: 30%;
  float: left;
  width: 20%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.fit-logo-login2 {
  position: relative;
  float: right;
  height: auto;
  width: 50%;
  margin-top: 30px;
  margin-bottom: 10px;

  padding-top: 10px;
  padding-bottom: 20px;
}

.login-centering{
	margin-left: 110%;
}

.btn-xxl {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}

.pwd-image {
 
  position: relative;
  float:right;
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
  bottom:50%;
}

.pwd-image-profile {
 
  position: relative;
  float:right;
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
  bottom:45%;
}
.pwd-image-login {
 
  position: relative;
  float:left;
  height: 30px;
  width: auto;
  margin-left: 198%;
  cursor: pointer;
  bottom:50%;
}

.phone-container {
  position: relative;
  width: 371px;
}
 
.phone-container input {
  font-size: 15px;
}

.app-icon {
  position: absolute;
  left: 50px;
}

.user-profile {
  position: absolute;
  right: 50px;
}

.center {
  align-items: center;
  text-align: center;
}

.center-div {
  margin: 0 auto;
}

.experiment-heading {
  margin-left: 50px;
  width: 40px;
  display: block;
}
.experiment-body {
  align-items: center;
  background-color: #2a3d53;
  margin: 40px;
  margin-top: 0px;
  padding: 20px;
  border-radius: 20px;
  font-size: 150%;
  font-family: 'Mulish';
}

.experiment-body-profile {
  align-items: center;
  background-color: #2a3d53;
  margin: 40px;
  margin-top: 0px;
  padding: 10px;
  border-radius: 20px;
  font-size: 150%;
  font-family: 'Mulish';
}

.experiment-body-dashboard{
  margin-left: 55px;
  margin-right: 55px;
  min-height: auto;
  max-height: 62vh;
  align-items: center;
  background-color: #2a3d53;
  padding: 20px;
  font-size: 150%;
  font-family: 'Mulish';
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow-y: scroll;
}

.experiment-body-search-upper {
  align-items: center;
  background-color: #2a3d53;
  margin: 40px;
  
  padding: 20px;
  border-radius: 20px;
  font-size: 150%;
  font-family: 'Mulish';
}
.experiment-body-search-lower{
  margin-left: 55px;
  margin-right: 55px;
  margin-bottom: 20px;
  min-height: auto;
  max-height: 68vh;
  align-items: center;
  background-color: #2a3d53;
  padding: 20px;
  font-size: 150%;
  font-family: 'Mulish';
  border-radius: 20px;
  overflow-y: scroll;
}

.experiment-body-ratings {
  align-items: center;
  margin-left: 40px;
  margin-bottom: 10px;
  margin-top: 0px;
  background-color: #2a3d53;
  padding: 10px;
  border-radius: 20px;
  font-size: 150%;
  font-family: 'Mulish';
}

.experiment-body-ratings-outer {
  align-items: left;
  margin-left: 40px;
  margin-right: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #2a3d53;
  padding: 18px;
  border-radius: 20px;
  font-size: 20px;
  font-family: 'Mulish';
}

.experiment-body-ratings-inner {
  align-items: left;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 50px;
  margin-top: 0px;
  background-color: #0d1722;
  padding: 20px;
  border-radius: 20px;
  font-size: 100%;
  font-family: 'Mulish';
  overflow-y: scroll;
}

.experiment-body-testimonials {
  align-items: center;
  margin-right: 40px;
  margin-top: 0px;
  background-color: #2a3d53;
  padding: 10px;
  border-radius: 20px;
  font-size: 150%;
  font-family: 'Mulish';
}

.experiment-body-testimonials-inner {
  align-items: center;
  height: 34vh;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 50px;
  margin-top: 40px;
  background-color: #0d1722;
  padding: 20px;
  border-radius: 20px;
  font-size: 150%;
  font-family: 'Mulish';
  overflow-y: scroll;
}

.experiment-body-event-attendees {
  align-items: center;
  height: 64vh;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #2a3d53;
  padding: 20px;
  border-radius: 20px;
  font-size: 150%;
  font-family: 'Mulish';
  overflow-y: scroll;
}

.modified-list-attendees{
  text-align: center;
  align-items: center;
  background-color: #0d1722;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
  font-family: 'Mulish';
  margin: 10px;
  margin-left:5px;
  margin-right:5px;
  border-radius: 10px;
  font-size: 90%;
  }

  .experiment-body-event-upper {
    align-items: center;
    height: 15vh;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #2a3d53;
    padding: 20px;
    border-radius: 20px;
    font-size: 150%;
    font-family: 'Mulish';
  }

  .experiment-body-event-lower {
    align-items: center;
    height: 40vh;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #2a3d53;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 20px;
    font-size: 150%;
    font-family: 'Mulish';
  }

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
  border-bottom-right-radius: 80px;
  border-top-right-radius: 80px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #282c34; 
  border-radius: 10px;
  border-bottom-right-radius: 80px;
  border-top-right-radius: 80px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(1, 5, 19)
}

.custom-color{
  color: #dfdd7e;
  font-family: 'Mulish';
  font-size: 90%;
}
.modified-list2{
	background-color: #0d1722;
	padding-top: 8px;
  padding-bottom: 8px;
	padding-left: 55px;
	padding-right: 30px;
	font-family: 'Mulish';
	margin: 10px;
  margin-left:20px;
  margin-right:20px;
	border-radius: 35px;
	font-size: 100%;
  }
  .modified-list-testimonials{
    text-align: left;
    background-color: #2a3d53;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    font-family: 'Mulish';
    margin: 10px;
    margin-left:5px;
    margin-right:5px;
    border-radius: 10px;
    font-size: 60%;
    }
.experiment-body-login2 {
  align-items: center;
  text-align: center;
  background-color: #2a3d53;
  margin: 450px;
  margin-top: 10px;
  padding: 20px;
  border-radius: 20px;
  font-size: 150%;
  font-family: 'Mulish';
}
.experiment-body h2 {
  text-align: left;
  padding-left: 30px;
  padding-top: 10px;
  color :aqua;
}

.name-div h1 {
  text-align: left;
  padding-left: 70px;
  padding-top: 15px;
  color :aqua;
}

.name-div h2 {
  text-align: left;
  padding-left: 70px;
  padding-top: 20px;
  color :bisque;
}

.experiment-body-ratings h2 {
  text-align: left;
  padding-left: 30px;
  padding-top: 10px;
  color :aqua;
}

.experiment-body-testimonials h2 {
  text-align: left;
  padding-left: 30px;
  padding-top: 10px;
  color :aqua;
}

.experiment-body h5 {
  text-align: left;
  padding-left: 30px;
  padding-top: 10px;
  color :aqua;
}


.dashboard h1 {
  text-align: left;
  padding-left: 55px;
  padding-top: 10px;
  color :aqua;
}

.dashboard-form{
  margin-left: 40px;
}

.dashboard-tab{
  margin-left: 55px;
  margin-right: 55px;
}
.color-nav  {
  background-color:rgb(1, 5, 19);
}

.btn-custom-dashboard {
  color: #fff;
  font-weight: bold;
  background-color: #412b15;
  border-color: #000000;
  width: 20%;
}

.btn-custom-edit-event {
  color: #fff;
  font-weight: bold;
  background-color: #412b15;
  border-color: #000000;
  width: 50%;
}

.btn-custom-search {
  margin-top: 20px;
  color: black;
  font-size: 150%;
  font-weight: bold;
  background-color:#5cb85c;
  border-color: #000000;
  width: 10%;
}

.my-modal-borders {
  background-color: #0d1722;
  border-radius: 0%;
  color: aqua;
  
}
.my-modal-body
{
  text-align: left;
  align-items: center;
  background-color: #2a3d53;
  color: #dfdd7e;
  margin-top: 0px;
  padding: 20px;
  
  font-size: 150%;
  font-family: 'Mulish';
}
.search-icon{
  cursor: pointer;
}

.generic-div {
  background-color: #2a3d53;
}

.name-heading
{
  text-align: center;
  color: bisque;
  font-weight: bolder;
  font-size: larger;
}

.file-div{
  margin-top: 10px;
  align-items: center;
  margin-left: 15%;
}

.navbar-image{
  margin-left: 10px;
  margin-right: 20px;
  height: 30px;
  width: 30px;
}

.event-image{
  margin-left: 10px;
  margin-right: 20px;
  height: 60px;
  width: 60px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.alert-body {
  font-weight: bolder;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px;
  padding: 20px;
  border-radius: 20px;
}